@model Manatee.Trello.Board[]

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var board in Model)
{
    <div class="Board">
        <a href="@Url.Action("Show")/@board.Id">@board.Name</a>   
    </div>    
}
