@model Manatee.Trello.Board[]

@{
    ViewBag.Title = "Trello Boards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @foreach (var board in Model)
    {
        <a class="BoardCard col-md-2" href="@Url.Action("Show")/@board.Id">
            <span class="BoardCard--name">@board.Name</span>
        </a>
    }
</div>