@model Manatee.Trello.Board[]

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var board in Model)
{
    <div class="Board">
        <p>@board.Name</p>   
    </div>    
}
