.body {
    background-color: #eee;
}

.body-content {
    padding-top: 5rem;
}

.Login {
    text-align: center;
}

.BoardCard {
    height: 10rem;
    width: 30rem;
    background-color: #0079bf;
    margin: 1rem;
    padding: 1rem;
}

.BoardCard--name {
    margin-top: 3rem;
    color: #EEE;
}

.Board {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: left;
    overflow: auto;
}

.Board--list {
    flex-direction: column;
    width: 20rem;
    padding: 1rem;
    background-color: #E2E4E6;
    margin-right: 3rem;
}

.Board--card {
    margin-bottom: .5rem;
    background-color: #EEE;
    padding: .3rem;
}
.Board--card a {
    color: #4d4d4d;
}

.Comment {
    margin-bottom: 1rem;
}