@model dynamic

@{
    ViewBag.Title = "Raygun Trello Challenge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row Login">
    <a href="@ViewBag.AuthorizationUrl" class="btn btn-lg btn-primary">Login with Trello</a>    
</div>

